{# SPDX-FileCopyrightText: 2020 Stefan Haun <tux@netz39.de> #}
{# SPDX-License-Identifier: CC0-1.0 #}
{
{% if docker_v6_cidr %}
    "ipv6": true,
    "fixed-cidr-v6": "{{ docker_v6_cidr }}",
{% endif %}
    "exec-opts": ["native.cgroupdriver=systemd"],
    "log-driver": "json-file",
        "log-opts": {
            "max-size": "{{ docker_log_max_size }}"
        },
    "data-root": "{{ docker_data_root }}",
    "storage-driver": "{{ docker_storage_driver }}",
    "dns": {{ docker_default_dns | tojson }}
}
