{# SPDX-FileCopyrightText: 2020 Stefan Haun <tux@netz39.de> #}
{# SPDX-License-Identifier: CC0-1.0 #}
{
{% if docker_v6_cidr %}
    "ipv6": true,
    "fixed-cidr-v6": "{{ docker_v6_cidr }}",
{% endif %}
    "exec-opts": ["native.cgroupdriver=systemd"],

    "log-driver": "{{ docker_log_driver.driver }}",
    {% if docker_log_driver.options is defined and docker_log_driver.options | length > 0 %}
    "log-opts": {{ docker_log_driver.options | tojson }},
    {% endif %}

    "data-root": "{{ docker_data_root }}",
    "storage-driver": "{{ docker_storage_driver }}",
    "dns": {{ docker_default_dns | tojson }}
}
