{# SPDX-FileCopyrightText: 2022 Stefan Haun <tux@netz39.de> #}
{# SPDX-License-Identifier: CC0-1.0 #}
deb [arch={{ ansible_local['deb']['arch'] }} signed-by={{ docker_apt_keyrings_dir }}/docker.asc] https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable
