# SPDX-FileCopyrightText: 2025 Netz39 Administrators <admin@netz39.de>
# SPDX-License-Identifier: CC0-1.0
---
name: ansible-lint

on:   # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Ansible Lint  # Naming the build is important to use it as a status check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25
